include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="https://img.freepik.com/premium-vector/logo-online-shopping-with-shopping-cart-online-shopping-png-download_24886-894.jpg?w=1380", alt="Logo")

            .col-5 
                form(
                    action="/search"
                    method="GET"
                ) 
                    div(class="form-group d-flex mb-0")
                        input(
                            type="type"
                            class="form-control"
                            placeholder="Nhập từ khóa..."
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-4 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -   const pathProduct = "/products"
                            a(href=pathProduct) Sản phẩm
                            +sub-menu(layoutProductsCategory, pathProduct)
                            
                    
                    
                    
                                            
                    
                    